name: Release
on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 16
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  linting:
    name: CI - ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
    
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Dependencies
        run: yarn

      - name: Code Linting
        run: yarn lint

  deploy:
    name: CD - Fly
    runs-on: ubuntu-latest
    needs: linting
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master
      
      - name: Deploy
        run: flyctl deploy